body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

a:link {
  color: unset;
  text-decoration: none;
}

a:visited {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  color: #252525;
  z-index: 100;
}

.header-logo {
  position: absolute;
  left: 20px;
  top: 5px;
  width: 200px;
  height: auto;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  font-size: 1em;
}

.header-menu-item {
  margin-right: 3.5em;
  cursor: pointer;
}

.header-menu-item:hover {
  color: #3b93c3;
}

.menu-icon {
  display: none;
  position: absolute;
  right: 40px;
  top: 18px;
  font-size: 35px;
  cursor: pointer;
}

.menu-icon:hover {
  opacity: 0.8;
}

.mobile-header-menu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
  background-color: #f8f8f8;
  color: black;
  z-index: 10;
}

.mobile-header-menu-animation-in {
  transform: translateX(300px);
  transition: 0.7s ease-in-out;
}

.mobile-header-menu-animation-out {
  transform: translateX(0px);
  transition: 0.7s ease-in-out;
}

.header-menu-animation-start {
  opacity: 0;
}

.header-menu-animation-end {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.mobile-header-menu-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: 9;
}

.mobile-header-menu-title {
  font-size: 30px;
  text-align: center;
  width: 180px;
  padding: 20px 0;
  margin-top: 10px;
  margin-bottom: 25px;
  color: #3b93c3;
  border-bottom: 1px solid #3b93c3;
  cursor: default;
}

.mobile-header-menu-item {
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.mobile-header-menu-item:hover {
  background: #3b93c3;
  color: #f8f8f8;
}

.mobile-header-menu-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: #3b93c3;
  width: 100%;
  height: 120px;
  white-space: pre-line;
  text-align: center;
  color: white;
  cursor: default;
}

.mobile-header-menu-closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #3b93c3;
  cursor: pointer;
}

.mobile-header-menu-closeBtn:hover {
  opacity: 0.5;
}

.top {
  height: 100vh;
  background-image: url("/smparkworkld-front/img/top.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio {
  display: block;
  text-align: center;
  padding: 30px;
}

.portfolio-container {
  display: inline-block;
  text-align: center;
  width: 70%;
  max-width: 1100px;
  min-width: 900px;
}

.portfolio-classification {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-classification-item {
  text-align: center;
  width: 100px;
  padding: 0.3em;
  background-color: white;
  border: 1px solid #3b93c3;
  border-radius: 20px;
  margin: 0.5em 1em;
  color: #3b93c3;
  cursor: pointer;
}

.active.portfolio-classification-item {
  background-color: #3b93c3;
  color: white;
}

.portfolio-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.portfolio-item {
  position: relative;
  display: inline-block;
  background-color: red;
  text-align: left;
  margin: 10px;
  width: 100px;
  height: 100px;
}

.portfolio-filler {
  margin: 10px;
  width: 50px;
  height: 0;
}

@media screen and (max-width: 1000px) {
  .menu-icon {
    display: block;
    color: #3b93c3;
  }

  .header-menu {
    display: none;
  }

  .portfolio-container {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }

  .portfolio-classification-item {
    border-radius: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header-logo {
    left: 20px;
    top: 10px;
    width: 50px;
    content: url("/smparkworkld-front/img/icon.png");
  }
}
