body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fafafa;
}

a:link {
  color: unset;
  text-decoration: none;
}

a:visited {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  color: #747474;
  z-index: 100;
  box-shadow: 0 3px 10px #00000017;
  transition: background-color 1s;
}

.top.header {
  background-color: transparent;
  color: white;
  box-shadow: none;
}

.top.header .menu-icon {
  color: white;
}

.top.header .header-menu-item:hover {
  color: #3b3b3b;
}

.header-logo {
  position: absolute;
  left: 20px;
  top: 5px;
  width: 200px;
  height: auto;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  font-size: 1em;
}

.header-menu-item {
  margin-right: 3.5em;
  cursor: pointer;
}

.header-menu-item:hover {
  color: #3b93c3;
}

.header .header-menu-item.active {
  color: #22658a;
}

.top.header .header-menu-item.active {
  color: #ffea8e;
}

.part-title {
  width: 100%;
  font-size: 2.7em;
  color: #22658a;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: "Archivo Black", sans-serif;
}

.menu-icon {
  display: none;
  position: absolute;
  right: 40px;
  top: 18px;
  font-size: 35px;
  cursor: pointer;
}

.menu-icon:hover {
  opacity: 0.8;
}

.mobile-header-menu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
  background-color: #fcfcfc;
  color: black;
  z-index: 10;
}

.mobile-header-menu-animation-in {
  transform: translateX(300px);
  transition: 0.7s ease-in-out;
}

.mobile-header-menu-animation-out {
  transform: translateX(0px);
  transition: 0.7s ease-in-out;
}

.header-menu-animation-start {
  opacity: 0;
}

.header-menu-animation-end {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.mobile-header-menu-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: 9;
}

.mobile-header-menu-title {
  font-size: 30px;
  text-align: center;
  width: 180px;
  padding: 20px 0;
  margin-top: 10px;
  margin-bottom: 25px;
  color: #3b93c3;
  border-bottom: 1px solid #3b93c3;
  cursor: default;
}

.mobile-header-menu-item {
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.mobile-header-menu-item:hover {
  background: #3b93c3;
  color: #f8f8f8;
}

.mobile-header-menu-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: #3b93c3;
  width: 100%;
  height: 120px;
  white-space: pre-line;
  text-align: center;
  color: white;
  cursor: default;
}

.mobile-header-menu-closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #3b93c3;
  cursor: pointer;
}

.mobile-header-menu-closeBtn:hover {
  opacity: 0.5;
}

.main-img {
  height: 100vh;
  background-image: url("/smparkworkld-front/img/2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 100%;
  white-space: pre-line;
  text-align: center;
  color: #f5f5f5;
  word-break: keep-all;
  background-color: rgba(0, 0, 0, 0.685);
}

.main-welcome,
.main-description {
  margin-bottom: 7%;
}

@keyframes mainText {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.main-welcome {
  font-size: 3em;
  margin-bottom: 30px;
  padding: 0 20px;
  animation: mainText;
  animation-duration: 1.5s;
}

.main-description {
  font-size: 1.2em;
  padding: 0 20px;
  animation: mainText;
  animation-duration: 1.5s;
}

.main-icon-center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 15%;
}

.main-img-drop-icon {
  font-size: 1.5em;
  color: #ffffffa9;
  animation: moveIcon;
  animation-duration: 1.7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.msgMove {
  transform: translateX(400px);
  transition: transform 1s;
}

.comfirmMove {
  opacity: 1;
  transition: opacity 1s;
}

@keyframes moveIcon {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(15px);
  }
}

.part {
  display: block;
  text-align: center;
  padding: 0 30px 30px 30px;
  background-color: #fafafa;
  margin-bottom: 150px;
}

.portfolio-container {
  display: inline-block;
  text-align: center;
  width: 70%;
  max-width: 1100px;
  min-width: 900px;
}

.portfolio-classification {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-classification-item {
  text-align: center;
  width: 100px;
  padding: 0.3em;
  background-color: white;
  border: 1px solid #3b93c3;
  border-radius: 20px;
  margin: 0.5em 1em;
  color: #3b93c3;
  cursor: pointer;
}

.portfolio-classification-item:hover {
  color: white;
  border: 1px solid #89c2e0;
  background-color: #89c2e0;
}

.active.portfolio-classification-item {
  background-color: #3b93c3;
  border: 1px solid #3b93c3;
  color: white;
}

.active.portfolio-classification-item:hover {
  border: 1px solid #3b93c3;
}

.portfolio-main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
}

.portfolio-item {
  position: relative;
  display: inline-block;
  background-color: white;
  text-align: left;
  margin: 1.55%;
  width: 30%;
  border: 1px solid #3b93c3;
  filter: drop-shadow(0 10px 3px #00000017);
  overflow: hidden;
}

.portfolio-item::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.portfolio-item-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.portfolio-item-img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.portfolio-item-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  opacity: 0;
  background: linear-gradient(to top, #3b93c3, rgba(0, 0, 0, 0));
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.portfolio-item-info:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.portfolio-item-info-sub {
  position: absolute;
  width: 100%;
  top: 60%;
  font-size: 1.3em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.portfolio-item-info-date {
  position: absolute;
  width: 100%;
  top: 90%;
  right: 5%;
  text-align: right;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
}

.footer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  white-space: pre-line;
  width: 100%;
  height: 100px;
  background-color: #195270;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.footer-icon {
  margin-right: 15px;
}

.portfolio-pop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  color: white;
}

.appear {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

.disappear {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

.contactBox {
  display: inline-flex;
  height: 280px;
  text-align: left;
  width: 70%;
  min-width: 900px;
  max-width: 1100px;
  filter: drop-shadow(0 10px 3px #00000017);
  margin-bottom: 50px;
}

.contact-send-btn {
  position: absolute;
  bottom: -70px;
  right: 0;
  z-index: 20;
  background-color: #1c8adb;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 1em;
  padding: 10px 30px;
  outline: none;
  cursor: pointer;
}

.contact-send-btn:hover {
  background-color: #56a1d6;
}

.contactBox-left {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color: #1c8adb;
}

.contact-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.send-after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 2em;
}

.contactBox-right {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 100%;
  background-color: white;
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
  color: #1c8adb;
  z-index: 2;
}

.contactBox-right-msg {
  resize: none;
  width: 95%;
  height: 80%;
  font-size: 1.1em;
  border: none;
  background-color: transparent;
  outline: none;
  overflow: hidden;
  font-family: "Nanum Gothic Coding", monospace;
}

.contactBox-right-writer-form {
  width: 95%;
  text-align: right;
  font-size: 1em;
}

.contactBox-right-writer {
  text-align: center;
  font-size: 1em;
  size: 10;
  width: 300px;
  border: none;
  background-color: transparent;
  outline: none;
  overflow: hidden;
  font-family: "Nanum Gothic Coding", monospace;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.about-container {
  display: inline-block;
  text-align: left;
  width: 70%;
  max-width: 1100px;
  min-width: 900px;
  font-size: 1.1em;
  color: #363636;
}

.about-container-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}

.about-intro-box {
  position: relative;
}

.about-like-box {
  position: absolute;
  right: 0;
  bottom: -30px;
  font-size: 8.4em;
  color: #ff7d7d;
}

.about-like-box .far {
  cursor: pointer;
}

.likeAnim {
  animation: likeBtn 2s;
}

.about-like-box .far:hover {
  color: #f85151;
}

@keyframes likeBtn {
  from {
    transform: rotateZ(30deg) translateY(50px);
  }
  to {
    transform: rotateZ(0) translateY(0);
  }
}

.like-box-text {
  position: absolute;
  left: -70px;
  top: 20px;
  font-size: 0.1em;
  background-color: #525252;
  color: rgb(247, 247, 247);
  padding: 5px 10px;
  border-radius: 12px;
}

.about-intro-box,
.about-info-box,
.about-skill-box {
  margin-bottom: 70px;
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Nanum Gothic Coding", monospace;
}

.about-info-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.about-info-item .fas {
  font-size: 4em;
  margin-bottom: 30px;
  color: #71a3be;
}

.info-item-move {
  animation: textMove 2s;
}

.info-item-pre {
  opacity: 0;
  transform: translateY(30px);
}

@keyframes textMove {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.about-info-item .fab {
  font-size: 4em;
  margin-bottom: 30px;
  color: #71a3be;
  cursor: pointer;
}

.about-info-item .fab:hover {
  color: #195270;
}

.about-title {
  font-size: 1.7em;
  margin-bottom: 30px;
  color: #2d6e91;
}

.about-intro {
}

.about-skill {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-skill-item-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.ablut-skill-item-title {
  color: #7c7c7c;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 0.5em;
  filter: drop-shadow(0 10px 4px #0000000a);
  padding: 5px 0;
}

#tt_lang.ablut-skill-item-title {
  color: #f77a40;
}

#tt_db.ablut-skill-item-title {
  color: #354783;
}

#tt_tool.ablut-skill-item-title {
  color: #aa58c4;
}

.ablut-skill-item-title .fas {
  margin-right: 15px;
}

.about-skill-item img {
  width: auto;
  height: 100px;
  margin: 20px 0;
}

@media screen and (max-width: 1000px) {
  .menu-icon {
    display: block;
    color: #3b93c3;
  }

  .header-menu {
    display: none;
  }

  .portfolio-container {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }

  .portfolio-classification-item {
    border-radius: 20px;
  }

  .portfolio-item {
    margin: 1.8%;
    width: 46%;
  }

  .portfolio-item-info-sub {
    font-size: 3vw;
  }

  .portfolio-item-info-date {
    font-size: 2vw;
  }

  .contactBox {
    width: 100%;
    min-width: 0;
  }

  .contactBox-left {
    display: none;
  }

  .contactBox-right {
    width: 100%;
  }

  .contactBox-right-writer {
    text-align: right;
    width: 100%;
  }

  .about-container {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }

  .about-intro {
    word-break: keep-all;
  }

  .about-like-box {
    display: none;
  }

  .about-info {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .about-info-item {
    width: 33%;
    margin-bottom: 50px;
  }

  .about-info-item.youtube {
    margin-bottom: 0;
  }

  .about-info-item.git {
    margin-bottom: 0;
  }

  .about-skill-item-box {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .about-skill-item {
    width: 33%;
    text-align: center;
  }

  #DB .about-skill-item {
    width: 50%;
    text-align: center;
  }

  .about-skill-item img {
    width: 20%;
    min-width: 100px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .header-logo {
    left: 20px;
    top: 10px;
    width: 50px;
    content: url("/smparkworkld-front/img/icon.png");
  }

  .portfolio-item {
    margin: 4%;
    width: 96%;
  }

  .portfolio-item-info-sub {
    font-size: 6.5vw;
  }

  .portfolio-item-info-date {
    font-size: 4vw;
  }

  .main-welcome {
    font-size: 2em;
    margin-bottom: 30px;
    padding: 0 20px;
  }

  .main-description {
    font-size: 1em;
    padding: 0 20px;
  }

  .about-info {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .about-info-item {
    width: 50%;
    margin-bottom: 50px;
    font-size: 0.9em;
  }

  .about-info-item.youtube {
    margin-bottom: 0;
  }

  .about-info-item.git {
    margin-bottom: 50px;
  }

  .about-skill-item-box {
    flex-wrap: wrap;
  }

  .about-skill-item {
    width: 50%;
    text-align: center;
  }

  .about-skill-item img {
    width: 50%;
    height: auto;
  }
}
